/*
=================================================

SURVIVE 30 DAYS

ФАЙЛ:

style.css


НАЗНАЧЕНИЕ:


Этот файл отвечает только за внешний вид.


Используется система:


ГОТОВАЯ КАРТИНКА

+

ПРОЗРАЧНЫЕ КНОПКИ



Здесь НЕТ:


- текста игры;
- изображений персонажей через HTML;
- логики переходов.


Логика находится в:

game.js


=================================================
*/





/*
=================================================

1. ОСНОВНЫЕ НАСТРОЙКИ ЭКРАНА


Телефонный экран.


Убираем стандартные отступы браузера.


=================================================
*/


body {


margin:0;


padding:0;


width:100%;


height:100dvh;


overflow:hidden;


font-family:Arial,sans-serif;


}






/*
=================================================

2. ГЛАВНЫЙ КОНТЕЙНЕР


Все игровые экраны находятся внутри:


.game


=================================================
*/


.game {


width:100%;


height:100dvh;


position:relative;


overflow:hidden;


}









/*
=================================================

SCREEN 1


START SCREEN


Фон:


graphics/fon1.png



Вся графика уже находится внутри картинки.


HTML содержит только:


прозрачную кнопку START.


=================================================
*/


.start-screen {


width:100%;


height:100%;


position:absolute;


top:0;


left:0;



background-image:url("graphics/fon1.png");



background-size:cover;



background-position:center;



background-repeat:no-repeat;



display:block;



}









/*
=================================================

НЕВИДИМАЯ КНОПКА START GAME


Она лежит поверх кнопки,
которая нарисована внутри fon1.png.



Настройка положения:


top


left


width


height



=================================================
*/


.image-start-button {


position:absolute;



left:50%;



top:80%;



transform:translate(-50%,-50%);



width:100%;



height:20%;



background:transparent;



border:none;



cursor:pointer;



z-index:5;



}









/*
=================================================

SCREEN 2


CHOOSE YOUR CHARACTER



Фон:


graphics/fon2.png



Вся графика находится внутри изображения.



HTML содержит только две зоны:


BOY

GIRL


=================================================
*/


.character-screen {


width:100%;


height:100%;



position:absolute;



top:0;


left:0;



background-image:url("graphics/fon2.png");



background-size:cover;



background-position:center;



background-repeat:no-repeat;



display:none;



}









/*
=================================================

ПРОЗРАЧНЫЕ КНОПКИ ВЫБОРА


Игрок их не видит.


Они только принимают нажатие.


=================================================
*/


.character-hotspot {


position:absolute;



background:transparent;



border:none;



cursor:pointer;



z-index:5;



}








/*
=================================================

ЗОНА BOY


Левая половина экрана.


При нажатии:


BOY

↓

SCREEN 3

↓

man Start.png


=================================================
*/


.boy-hotspot {


left:0;



top:0;



width:50%;



height:100%;



}








/*
=================================================

ЗОНА GIRL


Правая половина экрана.


При нажатии:


GIRL

↓

SCREEN 3

↓

girl Start.png


=================================================
*/


.girl-hotspot {


right:0;



top:0;



width:50%;



height:100%;



}









/*
=================================================

SCREEN 3


INTRO CHARACTER START


После выбора  персонажа.


Показывает:


man Start.png


или


girl Start.png


=================================================
*/


.intro-character-screen {


width:100%;


height:100%;



position:absolute;



top:0;


left:0;



display:none;



background:black;



z-index:10;



align-items:center;



justify-content:center;



}









/*
=================================================

КАРТИНКА SCREEN 3


Заполняет экран телефона.


=================================================
*/


.intro-character-screen img {

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

object-fit:cover;

z-index:1;

}

/*
=================================================

ПРОЗРАЧНАЯ КНОПКА SCREEN 3


Эта кнопка находится поверх:

man Start.png

или

girl Start.png


Игрок видит только картинку.


При нажатии:

SCREEN 3

↓

SCREEN 4



Кнопка занимает весь экран.


=================================================
*/


.character-start-button {


position:absolute;


/*
Кнопка начинается
от верхнего левого угла экрана.
*/

top:0;

left:0;



/*
Размер кнопки:

100% ширины

100% высоты


То есть нажать можно
в любом месте картинки.
*/

width:100%;

height:100%;



/*
Полностью прозрачная кнопка.

Игрок её не видит.
*/

background:transparent;



/*
Убираем стандартную рамку кнопки.
*/

border:none;



/*
Курсор для проверки
на компьютере.
*/

cursor:pointer;



/*
Кнопка должна быть
выше изображения.

*/

z-index:20;


}

/*
=================================================

SCREEN 4

INTRO CHARACTER


После SCREEN 3.


Показывает:

graphics/man1.png

или

graphics/girl1.png



Этот экран появляется
после нажатия на всю картинку
SCREEN 3.


=================================================
*/


.final-character-screen {

width:100%;

height:100%;

position:absolute;

top:0;

left:0;

display:none;

background:black;

z-index:30;

align-items:center;

justify-content:center;

}





.final-character-screen img {

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

object-fit:cover;

z-index:1;

}


.final-character-next-button {

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:transparent;

border:none;

cursor:pointer;

z-index:35;

}





# =================================================
#
# SCREEN 5
#
# LOCATION MAP
#
# Фон:
#
# graphics/fon3.png
#
#
# На картинке уже находятся:
#
# - карта острова;
# - номера локаций;
# - названия мест.
#
# HTML содержит только:
#
# прозрачные кнопки выбора.
#
# =================================================


.location-screen {

width:100%;

height:100%;


position:absolute;


top:0;

left:0;



background-image:url("graphics/fon3.png");



background-size:cover;



background-position:center;



background-repeat:no-repeat;



display:none;



z-index:40;



}



/*
=================================================

ПРОЗРАЧНЫЕ КНОПКИ ЛОКАЦИЙ


Они лежат поверх карты.


Игрок видит только fon3.png.


=================================================
*/


.location-hotspot {


position:absolute;


background:transparent;


border:none;


cursor:pointer;


z-index:50;


}



/*
=================================================

LOCATION 1


COCONUT GROVE


graphics/fon3.png


Кнопка соответствует
первой точке на карте.


Дальше game.js решает:

BOY:

LOCAL COCONUT man1.png


GIRL:

LOCAL COCONUT girl1.png


=================================================
*/


.location-1 {


left:35%;


top:18%;


width:30%;


height:18%;


}



/*
=================================================

LOCATION 2


MOUNTAIN LAKE


Дальше:

LOCAL LAKE man1.png

или

LOCAL LAKE girl1.png


=================================================
*/


.location-2 {


left:15%;


top:45%;


width:35%;


height:18%;


}



/*
=================================================

LOCATION 3


BAMBOO GROVE


Дальше:

LOCAL BAMBOO man1.png

или

LOCAL BAMBOO girl1.png


=================================================
*/


.location-3 {


right:10%;


top:45%;


width:35%;


height:18%;


}



/*
=================================================

LOCATION 4


BANANA PLANTATION


Дальше:

LOCAL BANANA man1.png

или

LOCAL BANANA girl1.png


=================================================
*/


.location-4 {


left:35%;


bottom:15%;


width:30%;


height:18%;


}